# Enforce SSH
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
  insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[url "git@gist.github.com:"]
    insteadOf = https://gist.github.com/
[url "git@gitlab.inf.uni-konstanz.de:"]
  insteadOf = https://gitlab.inf.uni-konstanz.de/
[url "ssh://git@gitlab.dbvis.de:2222/"]
  insteadOf = https://gitlab.dbvis.de/
  
# Set User
[user]
        email = maierelias13@gmai.com
        name = eelias13
